$color-dark-gray: #3C3C3C;
$color-off-white: #FFFBEF;
$color-light-green: #d0ffd5;
$color-light-yellow: #FFFDD0;
$color-light-blue: #D0FFFF;
$color-light-orange: #FFF3E8;
$color-burnt-orange: #D9574F;
$color-light-gray: #F4F4F4;
