@import './mixins';
@import './colors';

$nav-font-size-lg: 24px;
$nav-font-size-sm: 16px;
$page-title-size-lg: 96px;
$about-font-size-lg: 32px;
$about-font-size-sm: 20px;
$contact-form-size-lg: 20px;

@font-face {
  src: url('../assets/fonts/Lexend-VariableFont_wght.ttf');
  font-family: 'Lexend';
  font-display: block;
  font-weight: 100 900;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
span,
blockquote,
caption,
cite {
  margin: 0;
}

h1 {
  font-weight: 700;
}

button {
  border: 2px solid $color-dark-gray;
  border-radius: 10px;
  font-family: Lexend;
  font-size: $contact-form-size-lg;
}

.page-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: $page-title-size-lg;
  font-weight: 700;
  text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff,
    -6px 10px 0px #d0ffd5;
  @include mq(l) {
    flex-direction: column;
  }
}

.p2 {
  font-size: $about-font-size-sm;
  font-weight: 300;
  &--bold {
    font-weight: 500;
  }
  @include mq(l) {
    font-size: $about-font-size-lg;
  }
}

.p3 {
  font-size: 24px;
  @include mq(l) {
    font-size: 30px;
  }
}

label {
  font-size: 12px;
  @include mq(l) {
    font-size: 20px;
  }
}

@mixin work-detail-heading {
  color: $color-dark-gray;
  text-shadow: -2px 6px 0px #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @include mq(l) {
    font-size: 64px;
  }
}
