$nav-font-size-lg: 24px;
$nav-font-size-sm: 16px;
$page-title-size-lg: 96px;
$about-font-size-lg: 32px;

@font-face {
  src: url('../assets/fonts/Lexend-VariableFont_wght.ttf');
  font-family: 'Lexend';
  font-display: block;
  font-weight: 100 900;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
span,
blockquote,
caption,
cite {
  margin: 0;
}

h1 {
  font-weight: 700;
}

.page-title {
	display: flex;
	flex-direction: column;
  font-size: $page-title-size-lg;
  font-weight: 700;
  text-shadow:
    -2px -2px 0 #fff,
    2px -2px 0 #fff,
    -2px 2px 0 #fff,
    2px 2px 0 #fff,
    -6px 10px 0px #d0ffd5;
}

.p2 {
	font-size: $about-font-size-lg;
	font-weight: 300;
	&--bold {
		font-weight: 500;
	}
}
